<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/muhamadalinurzaman.jpg" alt="" class="img-thumbnail rounded-circle" width="100" height="100">
            <h1 class="display-4">Muhamad Ali Nur Zaman</h1>
            <p class="lead">Full Stack Developer</p>
        </div>
    </div>
</div> 